notifications:
  email: false
sudo: enabled
os: linux
language: python
cache: pip
python: 3.7-dev
env:
  global:
    - GH_REPO=Drakkar-Software/OctoBot-Backtesting
    - DEPLOY_BRANCH=master
    - PACKAGE_FOLDER=octobot_trading
    - secure: RsdtM25IzEwqYBXYxoAy0mINhK1q8lkMPT+5GhfTEMhx+WoXxuF0BNN4Nf+xFQtaBktFW4l0e4cRbPWbcz7sVh4gOrDH8WTkE4rnDQJKYZmPbvP5sc5rw8qu5X3j1fgJVbn6hT7Xm2O3KHjSHdY2TbA9qZmzKCDTc97tyZDREr6Q+dKkmNrOWRow6EV+dUhpvbprtw+uJRkpEt1t0L6MceMzgankOn9e++pdKiCBa3yjTcvh4qWKYMPjV39VTuczKn7ET9BPgnlh1iOEEXQUO0VlqPqQaokU+NWr+BZQJi+E0lLMfZMoOqSJwHBrGXvcHagqZiGiC/hRBHm/pPGMOI2NN9vc8YqqDeUnflnyyd0Eh7X0PyxCD4v1C5AxjnqfoSSHuc4PBR/U5CvkiSHYhgk2TOi1PB3s6Q/RXbZZcQT+kgfcYRYJU+iDhqUl1G4E9hcQqJaEpFDYztPdDVmlevNCagF+Ft5ZZVUlK9VBF+ElojHfwY6MP8DZTmdjubf6XguhJLLG+sQvtVcZzt3BkUycC774zA4+tM6GDlB97wJO0M2pMshPQmSVvX3FU5+7VShWoMY+4rzFWJcXqZuqY0bfYs7e1vs3HFK3DinHRyN5klh0oV3eRVWxyjak0//MsHOBsmmScAjIP6TN/OUYooNeR0zDsJOY+LfI4S3fRE8=
    - secure: YUc+y1D9Qdm/KTl7dDBiYUp3kx7brZ4nFnBiGgcRB9MxEn5XKv3yeri9P6UEDgtRNYzfd3CBKCZxFTwz49GYfsLcCP+Kp1eXzSJ+KaeKk1mmnOXz0s2bMSM/BxhSfSaQ2eXNz+wME+YHQclN9DHfC8EIXmYsWi/TgNuqi9ExPkUZzFyvMIcSZwrchvs9BFNSfQrHA7OZP2kyfNS0QyaElmleqwYBLlS3A2MxE72tUcElAlaW+yGMueJtCsMhoc/fy2Q1n379UY+j5zr1LFX+RVluB64P1m/ubIKCceYMCF4KQzO+HxajBPAtBagxO0FJhTVyXp3LRq1XjIidmS1a9speScrNr6AGZO7ybCneKfsuJSCzeANwMYAUVlJ/D8seBWJmAAvShiQZLqNuWRYf9OM0n39KtBxblpVUeGp+hGxaveWeEKsxmx1woAwSE03kZWpgAJCSj4LdOI2We9srp2nM7J9f8RDXLURXOxvF08M95ml83AiDLCKbcfzlRU3kwiqzHZRyP1N1pVyIVMoNHoXtupqDv581S8oMNHkgxlO9nPRoIa2nPcBJdFl7Rmxo+J+bpECMPZ9kEg53K88u5MbpqT/vYzOt1GqZumAyJ+N97fdooeeoRV46qqDubLsFMGsRfs3XVd9QMM51R9gVdf37J3rLIySCoQq0vCo8Td8=

install:
  - python3 -m pip install --prefer-binary -r dev_requirements.txt -r requirements.txt

matrix:
  include:
    - name: "Linux - Python 3 nightly - Python sources"
      stage: test
      os: linux
      python: nightly
      language: python
      script:
        - pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests
      after_success:
        - if [ $TRAVIS_PULL_REQUEST == "false" ]; then coveralls; fi

    - name: "Linux - Python 3 nightly - Installed"
      stage: test
      os: linux
      python: nightly
      language: python
      script:
        - python3 setup.py install
        - rm -rf $PACKAGE_FOLDER
        - pytest tests

    - name: "Linux - Python 3 nightly - Deploy"
      stage: deploy
      script:
        - ls
      deploy:
        - provider: pypi
          password:
            secure: QiiKHRvcnm3TLBCJNT25kJK0OJPJ417qVfOffNXg/fxVV6W/gJv6CoHBiq9ji49JrDUymumKyN6qRVjY5ipYMJy3Uy6ac+cgy+GxA6YCCe6ShccNSgOWOHSkr7NbhVxnYsrgBTdnS7rl7BbY490F92KcegEQx8oDUXF7gJAZyZAgcQizU7sdV7xurIhrRCmWBtDL6H6Hm/5AUfPm5L6//S5jkjGk+6zGdCOMT6XTKu98EZirWCbsO8VCJaPneovcR2klaRyIaeh+R9vYDGojXZPOk7cIyK2hQHElPXSM7Cprvbl51UZPOBhrxptZiwH063JoiKqdGDKAaq5A/3RCwW8ZaTnNYC0dcTvIynCMft4g8mpCYzyLlQR8ETblJfuzWT8JiexYJ2Lghm7YIn7Y3NBPRGOFkmhIpuvhwXdjp4gVtdPOP4XdMi/HDyP1QqFSEq9aoAeY8YZ2F/DdSt4hBxiGyk53+TrZWyeThjHCpldap6uMpQsujUhX9FZakTApDbymPNQ/wKrc0ck0fLoTr2f5Zv6fj2/7gIMA6Qdy+/TXapzaCbiQFQUtxvDL415yP6DZjrQ2vmfPfUk3EcJLPFMTZuMv2Qje4JdrBaoXmrC+ahO3iAqNbQqkhwEHrQkQfGEM4u8xLfOj0vzI7MRR24vqssTxys3GVVTNSaSxoXo=
          user:
            secure: J/Bhm7wv+xCCFCLszHRbS7q0XYIdNqGC1F/YZ9DnPJ2LnUYoNdQ1Mm1rs8oRB56FU5ED30yUtlYfeYU+HVyLumXrHkfzk6Ev+F3asTDdDyujXwKS8X9VhNlWDX6AQhI2FlSRG5jlL5KBPTP9IJE9glCYwmL3kpXX2Vd+cxEl7dGyI1Tbj19Mom2pKAMBcZkWAwZkvONuQQeP7Ain/zeXhfFoU5G8BgeAWvQs/UNiJX6q25PD/M5FAsfB068g1J8O+JMr/CvWKYvrOA6/zCiNIk1DCS9U/NQuhCLSZmKhtSGjfigj+JZXnnLDJdPl3UIAylZA2sPIskss/suLVX17uGVodZJ7wHyIKCUKtznYQsreGJwmjvxS3vRtIEmOecGAj0ZramoKrVeBJzaBf3tdluNl7AoDTQdJBAqrRvUZhP23B1bVT4Xpp7Bk2gWNaywIf1rjf2rWU6m0fhAOuyD51rJP/05wX/ye0wcQ0IONJvs3mq4E8JNrltAIeJoEe5Nu+7g6KUBSvypwQMeV3EG4qXcLszWfP6Cs+GBiRIun6Prl3cukwH8LCZfjVwVXcBgie/vXqyuIe1Re4w2z/z9AZ3vxIh4tsACIj935BXYYJEY3ptjhqrQrFXP/HVGlGkapmma15GYxuwK1yLQALnhSa8YZ2eMd+86Aa/w8TO5mePk=
          skip_existing: true
          skip_cleanup: true
          distributions: "sdist"
          on:
            repo: $GH_REPO
            branch: $DEPLOY_BRANCH
            tags: true
            condition: $TRAVIS_OS_NAME = 'linux'
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:i686 "i686" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:x86_64 "x86_64" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"

    - name: "OSX - Python 3.7 - Deploy"
      stage: deploy
      os: osx
      osx_image: xcode11    # Python 3.7.2 running on macOS 10.14.3
      language: shell       # 'language: python' is an error on Travis CI macOS
      # python: 3.7         # 'python:' is ignored on Travis CI macOS
      before_install: python3 --version ; pip3 --version ; sw_vers
      before_cache:
        - rm -f "$HOME/Library/Caches/pip/log/debug.log"
      cache:
        directories:
          - "$HOME/Library/Caches/pip"
      script:
        - python3 setup.py build_ext --inplace
        - pytest tests
      deploy:
        - provider: script
          script: python3 setup.py bdist_wheel && python3 -m twine upload dist/* -u $PYPI_USERNAME -p $PYPI_PASSWORD --skip-existing
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'osx'"
