# Setup requirements
cython==0.29.21

# Drakkar-Software requirements
Async-Channel>=2.0.7, <2.1
OctoBot-Commons>=1.5.1, <1.6
OctoBot-Tentacles-Manager>=2.4.0, <2.5

# Backtesting core requirements
# async sqlite connection
aiosqlite>=0.16.0, <0.17

# async http requests
aiohttp>=3.7.3, <3.8
