# Setup requirements
cython==0.29.24

# Drakkar-Software requirements
Async-Channel>=2.0.12, <2.1
OctoBot-Commons>=1.6.18, <1.7
OctoBot-Tentacles-Manager>=2.6.3, <2.7

# Backtesting core requirements
# async sqlite connection
aiosqlite>=0.16.0, <0.17

# async http requests
aiohttp>=3.8
